
/* Standardises all elements */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f7f7f7;
  font-size: 16px;
}

header,
footer,
.container {
	min-width: 320px;
}

h1 {
  text-align: center;
}

h1,
h2 {
  margin: 0 0 25px;
}

img {
  max-width: 100%;
}

a,
a:hover {
	color: blue;
}

img:first-child {
  border-radius: 10px;
}

p {
  margin: 0 0 20px;
}

.center {
  text-align: center;
}

.container {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto 30px;
}

nav {
  text-align: center;
  background: black;
  margin: 0 0 20px;
}

.navigationlist {
  padding: 0;
  margin: 0;
}

.navigationlist li {
  display: inline-block;
  padding: 10px;
  margin: 1em;
}

.navigationlist a:hover {
  color: #b1d7f2;
  font-weight: bold;
}

.navigationlist a {
  color: #fff;
}

section {
  margin: 20px 0;
  padding: 20px 0 0 0;
  border-top: 1px solid #555;
}

.sectionheader {
  font-size: 1.25em;
}

figure {
    margin: 0 auto 30px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;	
}

figure img,
figure img:first-child {
    width: 100%;
    margin: 0 0 20px;
    border-radius: 0;	
}

figcaption {
	text-align: justify;
}

#bottomalign {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

footer {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100vw;
  display: block;
  color: #fff;
  position: relative;
}