body {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

.sectionheader ~ * {
  width: 50%;
}

div > img {
  margin: 0 0 0 calc(50% - 200px);
}

.copy span {
  text-align: right;
}

.text {
  float: right;
  width: 45%;
  margin: 0 0 0 5%;
}

@media screen and (max-width: 480px) {
  .sectionheader ~ * {
    width: 100%;
    display: block;
  }

  .text {
    float: none;
    width: 100%;
    margin: 20px 0;
  }
}